# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work

# Node.js dependencies
node_modules/
client/build

# DB data
postgres-data/

node_modules
/package-lock.json
/frontend/node_modules
/frontend/dist
/frontend/repopack-output.txt
/frontend/package.json.md5
/frontend/package-lock.json
.history
frontend\package.json.md5
frontend\package-lock.json
frontend/package.json.md5

.history
debug.log
repopack-output.txt
frontend/package.json.md5
ai-novel-prompter.exe
