@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {


  :root  {
    --background: 240 28% 95%;
    --foreground: 240 5% 0%;
    --card: 240 28% 90%;
    --card-foreground: 240 5% 10%;
    --popover: 240 28% 95%;
    --popover-foreground: 240 95% 0%;
    --primary: 240 34% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 28% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 202 28% 85%;
    --muted-foreground: 240 5% 35%;
    --accent: 202 28% 80%;
    --accent-foreground: 240 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 28% 50%;
    --input: 240 28% 18%;
    --ring: 240 34% 37%;
    --radius: 0.5rem;
  }
  .dark  {
    --background: 240 28% 5%;
    --foreground: 240 5% 90%;
    --card: 240 28% 0%;
    --card-foreground: 240 5% 90%;
    --popover: 240 28% 5%;
    --popover-foreground: 240 5% 90%;
    --primary: 240 34% 37%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 28% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: 202 28% 15%;
    --muted-foreground: 240 5% 60%;
    --accent: 202 28% 15%;
    --accent-foreground: 240 5% 90%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 240 5% 90%;
    --border: 240 28% 18%;
    --input: 240 28% 18%;
    --ring: 240 34% 37%;
    --radius: 0.5rem;
  }  
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto', sans-serif;
  }
}